$gray-color: #5d5d5d;

$footer-color: #c0c0c0;
$shadow-color-light: #f6f6f6d3;
$shadow-color-gray: #656363;
$shadow-color-dark: #000000ab;
$info-color: #fff3c4;
$info-color02: #ffeb9d;
$info-line-color: #e2d49f;

$main-color: #3c64b6;
$sub-color: #94b3f3;
